{% extends 'layout/base.html' %}

{% block title %} Create New Admin User {% endblock %}

{% block content %}

    <div class="container">
        <div class="row" style="margin-top: 2em;" id="users">
          <h3 class="text-center mb-2">Create New Admin User</h3>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                
              <div class="alert alert-danger" v-if="error" role="alert">
                [[error]]
              </div>

              <div class="mb-3">
                <label for="id" class="form-label">User ID</label>
                <input type="text" class="form-control" name='id'  v-model="id" id="id" placeholder="Enter user ID">
              </div>
                
              <div class="mb-3">
                  <label for="store_id" class="form-label">Select Store</label>
                  <select class="form-select" aria-label="Default select" name="store_id"  v-model="store_id" id="store_id">
                    <option v-for="store in storesOptions" :key="store_id" :value="store.id">[[store.name]]</option>  
                  </select>
              </div>

              <div class="mb-3">
                  <label for="name" class="form-label">Name</label>
                  <input type="text" class="form-control" name='name'  v-model="name" id="name" placeholder="Enter name">
              </div>

              <div class="mb-3">
                  <label for="username" class="form-label">User Name</label>
                  <input type="text" class="form-control" name='username'  v-model="username" id="username" placeholder="Enter username">
              </div>

              <div class="mb-3">
                  <label for="password" class="form-label">Password</label>
                  <input type="password" class="form-control" name='password'  v-model="password" id="password" placeholder="Enter password">
              </div>

              <div class="mb-3">
                  <button @click="addUser" class="btn btn-primary">Create Account</button>
              </div>
                
            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <script type="application/javascript">
       
        new Vue({
           delimiters : ['[[',']]'],
           el: "#users",
           data: {
            id: '',
            userType: 'Administrator',
            name: '',
            username: '',
            password: '',
            store_id: '',
            company_id : localStorage.getItem("companyId"),
            storesOptions: [],
            error: ''              
           },
           mounted : async function(){
            if(!this.isSuperUser()){
               this.logout();
            }  
            const response = await fetch("/api/company/" + this.company_id);
            const data = await response.json();
            
            let stores = data["stores"]
            stores.forEach(store => {

              this.storesOptions.push({
                id: store['id'],
                name: store['shop_name'],
              })
            })            
           },
           computed: {
           
           },
           methods: {
            async addUser(){

              const credentials = {
                id: this.id,
                usertype: this.userType,
                name: this.name,
                username: this.username,
                password: this.password,
                store_id: this.store_id,
                company_id: this.company_id
              }
              try {
                const response = await fetch("/register", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(credentials),
                });

                const result = await response.json();
                console.log(result);
                
                if(result["error"]){
                  this.error = result['error']
                } else {
                  window.location.href = "/manage_user"

                }

              } catch (error) {
                console.log(error);
              }

            },
            isSuperUser : function(){
              return localStorage.getItem("usertype") == "Super user"
            },
            logout:function(){
                window.localStorage.clear()
                console.log("You don't have access to view this page")
                window.location.href = "/login"
            }
            
           }
        })          

      </script>

{% endblock %}