{% extends 'layout/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

<div class="container" id="app">

  <div class="items-section" style="float: left; width: 70%" id ="items" >
            
    <!-- > Items Section -->
    <div class="section full">

      <div class="d-flex justify-content-between align-items-center">
         
          <div class="category-nav">
            <div class="category-scroll-button"  @click="scrollCategories('left')"><</div>
            <div class="category-wrapper">
              <div class="category-item" v-for="(category, index) in displayedCategories" :key="index"
                  @click="selectCategory(category)" :class="{ 'active': category === selectedCategory }">
                  [[ category ]]
              </div>
            </div>
              
            <div class="category-scroll-button" @click="scrollCategories('right')">></div>
              <div>
                <input v-model="searchQuery" class="form-control search-input" placeholder="Search items...">
            </div>
          </div>
      </div>
      <div class="item">
          <div  v-for="(item, index) in paginatedItems" :key="index" v-on:click=" isAvailable(item) && addToCart(item)">
            <div :class="{ 'item-card-eneabled': isAvailable(item), 'item-card-disabled': !isAvailable(item)}">
            <div class="item-card" >

                <img :src="item.image" alt="Item">
                <h4>[[ item.name ]]</h4>
               
                <h6>[[ item.quantity ]] Available</h6>
                <h3>[[ item.price ]]</h3>
              </div>
            </div>
          </div>
      </div>
      <div class="pagination">
          <nav aria-label="Page navigation">
              <ul class="pagination">
                  <li class="page-item">
                      <a class="page-link" @click="goToPage(1)" aria-label="First">
                          <span aria-hidden="true">&laquo;&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" @click="prevPage" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                      </a>
                  </li>
                  <li class="page-item" :class="{ 'active': currentPage === page }" v-for="page in totalPages"
                      :key="page">
                      <a class="page-link" @click="setCurrentPage(page)">[[ page ]]</a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" @click="nextPage" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                      </a>
                  </li>
                  <li class="page-item">
                      <a class="page-link" @click="goToPage(totalPages)" aria-label="Last">
                          <span aria-hidden="true">&raquo;&raquo;</span>
                      </a>
                  </li>
              </ul>
          </nav>
        </div>
      </div>

    </div>
  </div>
          
  <div class="cart-section" style="float: right; width: 30%;" id="cart" >
    <!-- Cart Section -->
    <div class="section half" v-show="!show_receipt">
    
      <div class="cart-head">
        <p>Cart</p>
        <b-alert v-if="cartErrorMsg" show variant="danger">[[cartErrorMsg]]</b-alert>
      </div>

      <div v-show="cart.length <= 0">
      </div>

      <div v-show="cart.length > 0">

        <div id="carttable" >
          <b-table striped hover responsive sticky-header head-variant="light"
            :fields="fields" 
            :items="items"
            :filter="filter"
            :filter-included-fields="filterOn"
            :current-page="currentPage"
            :per-page="perPage"
            :sort-by.sync="sortBy"
          >
  
            <template #cell(name)="data" >
              [[data.item.name]]
            </template>
  
            <template #cell(quantity)="data">
              <i v-on:click="DecQuantity(data.index, data.item.id)" class="fas fa-minus"></i>  
              <span style="float:none 10px;">  [[data.item.quantity]]</span>
              <i v-on:click="IncQuantity(data.index, data.item.id)" class="fas fa-plus"></i>
            </template>
      
            <template #cell(price)="data">
              [[ data.item.price ]]
            </template>

            <template #cell(del)="data">
              <span>
                <i v-on:click="removeCartItem(data.index, data.item.id)" class="fa fa-trash" style="color: #ee2e2e;" aria-hidden="true"></i>
              </span>
            </template>

          </b-table>
        </div>

        <div id ="cartprices" >
          <div class="row">
            <div class="col-md-8">
              <h6>Live Total:</h6>
            </div>
            <div class="col-md-4">
              <label for="cartLiveTotal" class="form-label" >[[cartLiveTotal]]</label>
            </div> 
          </div>

          <div class="row">
        
            <div class="col-md-8">
              <h6>Tax:</h6>
            </div>
            <div class="col-md-4">
              <label for="taxTotal" class="form-label" >[[taxTotal]]</label>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-8">
              <h6>Total (includingTax):</h6>
            </div>

            <div class="col-md-4">
              <label for="cartTotal" class="form-label" >[[cartTotal]]</label>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="paidAmount" class="form-label">Paid Amount</label>
            </div>
            <div class="col-md-6">
              <input type="text" required class="form-control form-control-sm" id="paidAmount" @input="checkPaidAmount()" v-model="paidAmount" name="paidAmount" placeholder="Enter Paid Amount" />
              <b-alert v-if="paid_amount_check == true" show variant="danger">Paid Amount must be greater than total</b-alert>
            </div> 
            <div class="col-md-6">
              <label for="remainingAmount" class="form-label">Remaining Amount</label>
            </div>
            <div class="col-md-6">
              <input type="text" required class="form-control form-control-sm" id="remainingAmount" v-model="remainingAmount" name="remainingAmount" placeholder="" />                  
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="customerPNO" class="form-label">Customer PNO</label>
            </div>
            <div class="col-md-6">
              <input type="text" required class="form-control form-control-sm" id="customerPNO" v-model="inv.customerPNO" name="customerPNO" placeholder="" />
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="payment" class="form-label">Payment Method</label>
            </div>
            <div class="col-md-6">
              <select class="form-select form-select-sm" v-model="inv.paymentMethod" name="paymentMethod">
                <option selected>Select Payment Method</option>
                <option value="Cash">Cash</option>
                <option value="Visa">Visa</option>
                <option value="Mada">Mada</option>
              </select>
            </div> 
          </div>

          <div class="row">
            <div class="col-md-6">
              <label for="paymentId" class="form-label">Payment Id</label>
            </div>
            <div class="col-md-6">
              <input type="text" class="form-control form-control-sm" id="paymentId" v-model="inv.paymentId" name="paymentId" placeholder="Enter Payment Id" />
            </div> 
          </div>
          
          <div class="row" v-show="cart.length > 0">
            <div class="d-grid gap-2">
              <button class="btn btn-success" @click="saveItemAndInvoice()" :disabled="inv.paymentMethod == '' || paidAmount < taxTotal" type="button">Complete Order</button>
            </div>
          </div>

        </div>
      </div>
    </div>       
  </div>
    
  <div id="invoicediv" v-show="cart.show_receipt" class="invoice-container section" style="float: right; width: 30%;">
    <span><h4>Order Completed</h4></span>

    <div ref="invoice" dir="rtl" lang="ar" >
      <header>
        <div id="logo" class="media">
          <img src="logo.png" style="width: 150px;align-content: center;"> <!--Insert Generated QR code image for each Invoice  -->
        </div>

        <p align="center">SBISTechs Inc</p>
        <p align="center">
          TAX Number : 4910487129047124<br/>
          JohnDoe@gmail.com, street city, state 0000,<br>
          555-555-5555.
        </p></br>

      </header>

      <table class="bill-details">
        <tbody align="center">
            <tr>
              <td>
                Date: <span>[[ cart.cdateTime ]]</span>
              </td>
              <td>
                Invoice ID: <span>[[ cart.inv.invoiceId ]]</span>
              </td>
            </tr>

            <tr>
            </tr>

            <tr>
              <th class="center-align" colspan="2">
                <span class="receipt">Order Number: 3 </span>
              </th>
            </tr>
        </tbody>
      </table>
      <!--Invoice Body  -->
      <table class="items">
        <thead>
          <tr>
            <th class="heading name">Item  الصنف</th>
            <th class="heading Itemprice">Price  السعر</th>
            <th class="heading qty">Qty  الكمية</th>
            <th class="heading ItemTotal">Sub  اجمالي</th>                
          </tr>
        </thead>
        
        <tbody>          
          <tr v-for="it in cart.items">
            <td class="name">[[it.name]]</td>
            <td class="price Itemprice">[[it.price]]</td>
            <td class="qty">[[ it.quantity ]]</td>
            <td class="price ItemTotal">[[ it.price * it.quantity ]]</td>
          </tr>

          <tr>
            <td colspan="3" class="sum-up line">Total Before Tax الاجمالي قبل الضريبة</td>
            <td class="line price" align="left">[[ cart.cartLiveTotal ]]</td>
          </tr>

          <tr>
            <td colspan="3" class="sum-up">TAX الضريبة</td>
            <td class="price" align="left">[[ cart.taxTotal ]]</td>
          </tr>

          <tr>
          </tr>

          <tr>
            <th colspan="3" class="total text">Grand Total الاجمالي</th>
            <th class="total price" align="left">[[ cart.cartTotal ]]</th>
          </tr>

          <tr>
            <td colspan="3" class="sum-up">Paid المدفوع</td>
            <td class="price" align="left">[[ cart.paidAmount ]]</td>
          </tr>

          <tr>
            <td colspan="3" class="sum-up">Reamining الباقي</td>
            <td class="price" align="left">[[ cart.remainingAmount ]]</td>
          </tr>
        </tbody>
      </table>

      <section style="width: 360px; align-content: center;" align='center'>
          <p>
            Payment Method: <span>[[ cart.inv.paymentMethod ]]</span>
          </p>

          <p>
            Cashier ID: <span>[[ cart.inv.cashier ]]</span>
          </p>

          <img :src="cart.inv.qrCode" alt="QRCode" style="width: 200px; align-content: center;"> <!--Insert Generated QR code image for each Invoice  -->
          <p style="text-align:center">
            Thank you for your visit!
          </p>

          <p style="text-align:center">
            <a href="/"> www.www.com </a>
          </p>
      </section>
    </div>

    <!-- former invoice card -->
    
    <!-- new invoice -->
    <div class="d-grid gap-2 col-12 mx-auto mt-3">
      <a href="/cart" class="btn btn-outline-success">New Invoice</a>
    </div>
      
  </div>

</div>

<script type="application/javascript">

    itemsv = new Vue({
        delimiters : ['[[',']]'],
        el: '#items',
        data: {
          fields: [
            {key:'id',sortable: false},
            {key:'name'}, 
            {key:'price', sortable: false}, 
            {key:'category', sortable: false}, 
            {key: 'show', label: ''}
          ],
          items: [],
          filter: null,
          filterOn: [],
          currentPage: 1,
          totalRows: 1,
          perPage: 10,
          sortBy: '',
        
          itemsPerPage: 15,
          currentPage: 1,
          items: [],
          cartItems: [],
          searchQuery: '',
          selectedCategory: 'All',
          categoryOptions: [],
          maxDisplayedCategories: 6, // Set the maximum number of displayed categories
          orderStatus:'New',
          catScrollIndex:0,

        }
          ,
        mounted: async function(){
            const response = await fetch("/api/items");
            const data = await response.json();
            
            let items = data["items"]

            items.forEach(item => {
              let id = item['id']
              let name = item['name']
              let cat = item['category']
              let price = item['price']
              let qty = item['quantity']

              this.items.push({
                id: id,
                name: name, 
                category: cat, 
                price: price, 
                quantity:qty,
                image: "item.png",
                isAddedToCart:false
                
              })
            })
            
            this.totalRows = this.items.length
            this.generateCategories()

        },
        computed: {
          displayedCategories() {
            const start = this.catScrollIndex;
            const end = start + this.maxDisplayedCategories;
            return this.categoryOptions.slice(start, end);
        },
        filteredItems() {
            if (this.selectedCategory == "All"){
            return this.items.filter(item => 
                item.name.toLowerCase().startsWith(this.searchQuery.toLowerCase())||
                (item.id.toString().startsWith(this.searchQuery))
            );
            }
            else{
              return this.items.filter(item =>
                item.category== this.selectedCategory 
                &&( item.name.toLowerCase().startsWith(this.searchQuery.toLowerCase())  ||
                (item.id.toString().startsWith(this.searchQuery)))
            );
              
            }
        },
        paginatedItems() {
            const start = (this.currentPage - 1) * this.itemsPerPage;
            const end = start + this.itemsPerPage;
            return this.filteredItems.slice(start, end);
        },
        totalPages() {
            return Math.ceil(this.filteredItems.length / this.itemsPerPage);
        },
        
        
    },
        methods: {
          
          scrollCategories(direction) {
                const maxIndex = this.categoryOptions.length -this.maxDisplayedCategories
                //console.log('before index direction:',this.catScrollIndex, direction)
                if (direction === 'left' && this.catScrollIndex > 0) {
                    this.catScrollIndex--;
                    this.selectCategory(this.categoryOptions[this.catScrollIndex])
                } else if (direction === 'right' && this.catScrollIndex < maxIndex) {
                    this.catScrollIndex++;
                    this.selectCategory(this.categoryOptions[this.catScrollIndex])
                }
                
                //console.log('after index direction:',this.catScrollIndex, direction)
        },
            onFiltered(filteredItems) {
                // Trigger pagination to update the number of buttons/pages due to filtering
                this.totalRows = filteredItems.length
                this.currentPage = 1
            },

              addToCart(itm) {

              cartv.addToCart(itm)
              itm.isAddedToCart=true
              let item = itm
          
              let id = item.id
              let name = item.name
              let qty = 1
              let price = item.price
              let totalQty = item.quantity

              this.addItemToCart({
                'id':id,
                'name':name, 
                'price':price,
                'quantity':totalQty
              })
            },
            testfun(item) {                    
              console.log("Hello::",alert("test?"))
            },
            addItemToCart(item) {
                this.cartItems.push(item);
            },
            removeItemFromCart(id) {
              for( index in this.cartItems){ 
                if(id == this.cartItems[index]['id']){
                this.cartItems.splice(index, 1);
                this.cartItems[index]=false;
                }
              }
              for( index in this.items){ 
                if(id == this.items[index]['id']){
                this.items[index]['isAddedToCart']=false;
                }
              }
            },
            setCurrentPage(page) {
                this.currentPage = page;
            },
            prevPage() {
              if (this.currentPage > 1) {
                this.currentPage--;
              }
            },
            nextPage() {
              if (this.currentPage < this.totalPages) {
                this.currentPage++;
              }
            },
        goToPage(page) {
            this.currentPage = page;
        },
        
        generateCategories() {
            const categories = new Set(this.items.map(item => item.category));
            this.categoryOptions =  ['All'].concat(Array.from(categories));
        },
        selectCategory(category) {
            this.currentPage = 1;
            this.selectedCategory = category;
            this.filterItems();
            //alert('category selected'+ this.selectedCategory)
        },
        filterItems() {
            const filteredBySearch = this.items.filter(item =>
                item.name.toLowerCase().startsWith(this.searchQuery.toLowerCase())
            );
            //this.filteredItems = this.selectedCategory
            //   ? filteredBySearch.filter(item => item.category === this.selectedCategory)
            //    : filteredBySearch;
        },
        setOrderStatus(status){
          this.orderStatus = status
        },
        isAvailable(item){
          return item.quantity>0
        },
    },

    })

</script>

<script type="application/javascript">

      cartv = new Vue({
      delimiters : ['[[',']]'],
      el: '#cart',
      data: {
        fields: [
          {key:'id'},
          {key:'name'},
          {key:'quantity'},
          {key:'price'},
          {key:'del', label: ''},
        ],
        items: [],
        currentDeleteId: -1,
        currentDeleteIndex: -1,
        filter: null,
        filterOn: [],
        currentPage: 1,
        totalRows: 1,
        perPage: 10,
        sortBy: '',
        cartLiveTotal:0,
        taxTotal:0,
        cartTotal:0,
        paidAmount:0,
        remainingAmount:0,
        store_id : localStorage.getItem("storeId"),
        inv: {
          invoiceId: '',
          cashier: '',
          customerPNO: '',
          paymentId: '-1',
          paymentMethod: '',
          qrCode: '',
          store: ''
          },
        cart:{
          length:0,
          orderCompleted:false
        },
        cdateTime: '',
        download_invoice: true,
        show_receipt: false,
        paidAmount: 0,
        quantity_check: false,
        paid_amount_check: false,
        cartErrorMsg:'',
      
      }
        ,
      mounted: async function(){
          
      },
      watch: {
        paidAmount: function(amt) {

        //this.remainingAmount = this.cartTotal - amt
      }
    },
      methods: {
            addToCart(itm) {
              let item = itm.name                  
              let id = itm.id
              let name = itm.name
              let qty = 1
              let price = itm.price
              let totalQty = itm.quantity
              
              this.cartErrorMsg =''
              for( i in this.items){
                if (this.items[i]['id'] == id){
                  if(this.items[i]['quantity'] + 1 > this.items[i]['totalQty']){
                      this.cartErrorMsg ='Cannot add more than available'
                      return
                  }
                  //increase and return
                  this.items[i]['quantity'] = this.items[i]['quantity'] + 1;
                  this.cartLiveTotal = this.cartLiveTotal +   parseFloat(itm.price)
                  this.taxTotal = (0.15 * (this.cartLiveTotal))
                  this.taxTotal = (Math.round((this.taxTotal+Number.EPSILON)*100)/100)
                  this.cartTotal = (this.cartLiveTotal +   this.taxTotal).toFixed(2)
                  this.cart.length = this.cart.length + 1
                  return;
                }
                //console.log("Hello::",alert("test cart?"+ this.items[i]['id']))
              }
              //add new
              this.items.push({
                id: id, 
                name:name, 
                quantity: qty, 
                price: price, 
                totalQty:totalQty
              })
              
              this.cartLiveTotal = this.cartLiveTotal +   parseFloat(itm.price)
              this.taxTotal = (0.15 * (this.cartLiveTotal))
              this.taxTotal = (Math.round((this.taxTotal+Number.EPSILON)*100)/100)
              this.cartTotal = (this.cartLiveTotal +   this.taxTotal).toFixed(2)
              
              this.cart.length = this.cart.length + 1
          },
          test() {
            return false

          },
          checkPaidAmount(){
            this.remainingAmount = this.paidAmount - this.cartTotal
            this.remainingAmount =  Math.round((this.remainingAmount+Number.EPSILON)*100)/100

          },
          IncQuantity(ind, id){               
            if(this.items[ind]['quantity'] + 1 > this.items[ind]['totalQty']){
              this.cartErrorMsg ='Cannot add more than available'
              return
            }
            this.cartErrorMsg =''
            this.items[ind]['quantity'] = this.items[ind]['quantity'] + 1;
            this.cartLiveTotal = this.cartLiveTotal +   parseFloat(this.items[ind]['price'])
            this.taxTotal = (0.15 * (this.cartLiveTotal))
            this.taxTotal = Math.round((this.taxTotal+Number.EPSILON)*100)/100
            this.cartTotal = (this.cartLiveTotal +   this.taxTotal).toFixed(2)
            this.cart.length = this.cart.length + 1
          },
          DecQuantity(ind, id){
            this.cartErrorMsg =''
            this.items[ind]['quantity'] = this.items[ind]['quantity'] - 1;
            this.cartLiveTotal = this.cartLiveTotal -   parseFloat(this.items[ind]['price'])
            this.taxTotal = (0.15 * (this.cartLiveTotal))
            this.taxTotal = Math.round((this.taxTotal+Number.EPSILON)*100)/100
            this.cartTotal = (this.cartLiveTotal +   this.taxTotal).toFixed(2)
            this.cart.length = this.cart.length -  1
            if(this.items[ind]['quantity'] == 0){
              this.items.splice(ind,1)
              itemsv.removeItemFromCart(id)
            }
          },
          removeCartItem(ind, id){
            this.cartErrorMsg =''
            this.cartLiveTotal = this.cartLiveTotal -   (parseFloat(this.items[ind]['price']) *this.items[ind]['quantity'])
            this.taxTotal = (0.15 * (this.cartLiveTotal))
            this.taxTotal = Math.round((this.taxTotal+Number.EPSILON)*100)/100
            this.cartTotal = (this.cartLiveTotal +   this.taxTotal).toFixed(2)
            this.cart.length = this.cart.length -  this.items[ind]['quantity'] 
            this.items[ind]['quantity'] = 0
            this.items.splice(ind,1)
            
            itemsv.removeItemFromCart(id)
          },

          async saveInvoice(){
              let invoiceId = new Date().getTime() + Math.floor(Math.random() * 1000);
              this.inv.invoiceId = invoiceId

              let cart_items = []

              this.items.forEach(item => {
                cart_items.push({
                  invoice_id: this.inv.invoiceId,
                  item_id: item['id'],
                  item_name: item['name'],
                  item_price: item['price'],
                  quantity_sold: item['quantity'],
                  subtotal: parseFloat(item['price']) * item['quantity'],
                })
              })

              let customerPNO = '0'
              if( this.inv.customerPNO != ''){
                customerPNO = this.inv.customerPNO
              }

              let cashierIdName = window.localStorage.getItem("cashierId")

              invoiceData = {
                id: invoiceId,
                cart_items: cart_items,
                total_price: this.cartLiveTotal,
                tax: this.taxTotal,
                amount_paid: this.paidAmount,
                customer_PNO: customerPNO,
                payment_method: this.inv.paymentMethod,
                payment_id: this.inv.paymentId,
                cashier_id: cashierIdName,
                store_id: this.store_id
              }

              const response = await fetch("/api/invoices", {
                  method: "POST",
                  headers: {
                    "Content-Type": "application/json",
                  },
                  body: JSON.stringify(invoiceData),
                });

              const result = await response.json();
              
              this.inv.cashier = cashierIdName
              this.inv.invoiceId = invoiceId
              this.cdateTime = result['created_at']
              this.inv.qrCode = result['qrcode_url'].slice(6)
              
              this.show_receipt = true
                
              setTimeout(() => {
                invoice.printInvoice();
              }, 200) 
          },

          async saveItemTransaction(){
            //create invoice id
            let invoiceId = new Date().getTime() + Math.floor(Math.random() * 1000);
            this.inv.invoiceId = invoiceId
            items = this.items
            for(var i in items){
                let item  = items[i]
                let idcode = item['id']
                let itemPrice = item['price']
                let soldItemQty = item['quantity']
                let totalQty = item['totalQty']

                let newQty = totalQty - soldItemQty
                let update_url = `/api/update_item_quantity/${idcode}/${newQty}`
                const response1 = await fetch(update_url)
                const data1 = await response1.json();
                console.log("item:", item, "totalQty:", totalQty, "NewQty:", newQty, data1)

                let url = "/api/save_transaction/"+ invoiceId+ "/"+ idcode + "/"+itemPrice+"/"+soldItemQty
                //alert(this.inv.invoiceId)
                const response = await fetch(url);
                const data = await response.json();
                console.log(data["res"])
                if (data['res'] == 'error'){
                  alert( "Error in transaction")
                  return 'error'
                }
            }
            return 'success'
            //transaction completed
          },
          
          saveItemAndInvoice(){
              if (this.validate_cart() == false)
                return;
            //  this.show_receipt = true

              if(this.saveItemTransaction() == 'error'){
              this.cartErrorMsg = 'Error in transaction'
              return
              }
              this.saveInvoice()
              this.orderCompleted = true
              itemsv.setOrderStatus('Complete')
          },

          startNewCart(){
              window.location.reload();
          },
          validate_cart(){
            let items = this.items
            for(var i in items){
                let item  = items[i]
                let idcode = item['id']
                let itemPrice = item['price']
                let soldItemQty = item['quantity']
                
                let totalQty = item['totalQty']

                let newQty = totalQty - soldItemQty
                if(newQty<0){
                  alert("Quntity is more than available quantity!")
                  return false;
                }
              }

              if (this.remainingAmount < 0){
                this.paid_amount_check =true
                return false
              }
            return true;
            
          }


      }
  })

</script>

<script type="application/javascript">
  
  // import {font} from '../static/fonts/Amiri-Regular-normal'

  invoice = new Vue({
      delimiters : ['[[',']]'],
      el: '#invoicediv',
      data: {
        fields: [],
        items: [],
        cart : cartv,
        orderCompleted:false
      },
      
      mounted: async function(){
          
      },
      methods: {
        
        printInvoice() {
          const element = this.$refs.invoice;  // Reference to the invoice element

          html2canvas(element).then(canvas => {
            const invoiceData = canvas.toDataURL("image/png", 1.0);

            const { jsPDF } = window.jspdf;
            const pdf = new jsPDF("p", "mm", "a4", true);

            const pdfWidth = pdf.internal.pageSize.getWidth();
            const pdfHeight = pdf.internal.pageSize.getHeight();

            const imgWidth = canvas.width;
            const imgHeight = canvas.height;

            const ratio = Math.min(
              pdfWidth / imgWidth,
              pdfHeight / imgHeight
            );

            const imgX = (pdfWidth - imgWidth * ratio) / 2;
            const imgY = 30;

            pdf.addImage(
              invoiceData,
              "PNG",
              imgX,
              0,
              imgWidth * ratio,
              imgHeight * ratio
            );
            
            // Use autoPrint to trigger print dialog when the PDF is opened
            pdf.autoPrint();

            // Output the PDF to a new window. The print dialog should appear.
            pdf.output('dataurlnewwindow');
            }
          );

        }
      },
          
    });

</script>

{% endblock %}