{% extends 'layout/base.html' %}

{% block title %} Item {% endblock %}

{% block content %}

    <div class="container" id="app">
       
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-12">
                <h5>Item </h5>
                <b-table striped hover :fields="fields" stacked :items="customer">

                    <template #cell(del)="data">
                      <b-link v-on:click="removeItem(data.index)"><i class="fa fa-trash" style="color: #ee2e2e;" aria-hidden="true"></i></span></b-link>
                    </template>

                    <template #cell(id)="data">
                        [[data.item.id]]
                    </template>
              
                    <template #cell(name)="data">
                      <span @click="toggleEdit(data.item.name, data.index, data.item.editName, 'name' )" v-show="!data.item.editName">[[data.item.name]]</span>
                      <input  v-show="data.item.editName" v-model="data.item.name" type="text" />
                    </template>
              
                    <template #cell(phone)="data">
                        <span @click="toggleEdit(data.item.phone, data.index, data.item.editPhone, 'phone')" v-show="!data.item.editPhone">[[ data.item.phone ]]</span>
                      <input v-show="data.item.editPhone" v-model="data.item.phone" type="text" />
                    </template>
                    
                    <!-- <template #cell(show)="data">
                        <b-link href="/item/9103"><i class="fas fa-chevron-right"></i></span></b-link>
                    </template> -->
        
                </b-table>
                <template>
                <div class="row">
                    <div class="col-md-4">
                        <b-button  variant="outline-primary" href="/manage_customers">Back</b-button>
                        <b-button v-on:click="toggleEditMode()" type="submit" variant="primary">[[ isEditable ? 'Cancel' : 'Edit']]</b-button>
                       
                        <b-button @click="saveChanges" v-if="isEdit()" type="submit" variant="success">Save Changes</b-button>
                    </div>
                </div>
                </template>
            </div>

      
            <div class="row" style="margin-top: 2em;">
            </div>
        </div>
        <h5>Customer Orders</h5>
        <div class="row">
            <div class="col-md-6">
                <b-form-group
                    label=""
                    label-for="filter-input"
                    label-cols-sm="3"
                    label-align-sm="right"
                    label-size="sm"
                    class="mb-0">
                    <b-input-group size="sm">
                        <b-form-input
                            id="filter-input"
                            v-model="filter"
                            type="search"
                            placeholder="Filter..."
                        ></b-form-input>

                        <b-input-group-append>
                        <b-button :disabled="!filter" @click="filter = ''">Clear</b-button>
                        </b-input-group-append>
                    </b-input-group>
                </b-form-group>
            </div>
           
        </div>
       
        <div>
            <b-table 
              striped hover 
              :fields="ordFields" 
              :items="orders"
              :filter="filter"
              :filter-included-fields="filterOn"
              @filtered="onFiltered"
              :current-page="currentPage"
              :per-page="perPage"
            >

            </b-table>

            <b-row>
                <b-col sm="5" md="6"></b-col>
                <b-col sm="7" md="6" class="my-1">
                    <b-pagination
                        v-model="currentPage"
                        :total-rows="totalRows"
                        :per-page="perPage"
                        align="fill"
                        size="sm"
                        class="my-0"
                        v-show="totalRows > perPage"
                    >
                    </b-pagination>
                </b-col>
            </b-row>

        </div>
    </div>

    <script type="application/javascript">

        new Vue({
            delimiters : ['[[',']]'],
            el: "#app",
            data: {
                fields: [ 'id', 'name', 'phone', {key: 'edit_r', label: ''}],
                customer: [],
                ordFields: [ 
                  {key: 'orderId', label:'Order Id'}, 
                  {key: 'dateTime', label:'Order DateTime'}, 
                  {key: 'orderType', label:'Order Type'}, 
                  {key: 'total', label:'Total'},
                  {key: 'paymentStatus', label:'Payment Status'}, 
                  {key: 'status', label:'Order Status'}
                ],
                orders: [],
                idcode : window.location.pathname.split("/")[2],
                filter: null,
                filterOn: [],
                currentPage: 1,
                totalRows: 1,
                perPage: 10,
                validationMessage: '', // Validation message
            // Add more data properties as needed
            isEditable: false, // Indicates whether the form is in edit mode
            categoryOptions: [],
            },
            mounted: async function(){
                if(!this.isAdminLogin()){
                  this.logout();
                }
                this.getCustomer()
                // this.getItemorders()
                this.totalRows = this.orders.length
            },
            methods: {
                async getCustomer(){
                    //console.log("window.location::",this.idcode)
                    const response = await fetch("/api/customers/" + this.idcode);
                    const data = await response.json();
                    let id = data["id"]
                    let name = data["name"]
                    let phone = data["phone"]

                    this.customer.push({ 
                      del: 'test', 
                      id: id, 
                      name: name,
                      phone: phone,
                      editName: false,
                      editPhone: false,
                      show: 'test'
                    })
                    
                    let orders = data["orders"]
                    orders.forEach(ord => {
                        let id = ord['id']
                        // let dateTime = new Date(ord['created_at'] ).toDateString();
                        let dateTime = ord['created_at']
                        let orderType = ord['order_type']
                        let total = ord['total_price']
                        let paymentStatus = ord['payment_status']
                        let status = ord['status']
                        
                        this.orders.push({ 
                          orderId: id, 
                          dateTime: dateTime, 
                          orderType: orderType, 
                          total: total, 
                          paymentStatus: paymentStatus,
                          status: status
                        })

                    })
                },

                toggleEdit: function(val,index,ed,section){
                  //console.log("Item:", parseInt(index))
                  /*if(section == 'name'){
                    this.items[index].editName = !ed
                  }
                  else if(section == 'category'){
                    this.items[index].editCat = !ed
                  }
                  else if(section == 'price'){
                    this.items[index].editPhone = !ed
                  }
                  else if(section == 'quantity'){
                    this.items[index].editQty = !ed
                  }*/

                  this.toggleEditMode()
                  //console.log("NewEd:", ed)
                },

                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                async saveChanges() {
                  id = data.id
                   
                  const newData = {
                    name: data.name,
                    phone: data.phone,
                  }
                    
                  const response = await fetch(`/api/customers/${id}/update`, {
                      method: "PUT",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(newData),
                    });

                  const result = await response.json();
                  console.log(result);
                  window.location.reload()

                  this.toggleEditMode()
                   
                },
                toggleEditMode() {
                // Toggle the edit mode
                this.isEditable = !this.isEditable;
                data = this.customer[0]
       
                  if(!this.isEditable){
                    data.editName = false
                    data.editPhone =false
                    this.getCustomer()
                    this.totalRows = this.orders.length
                  }
                  else{
                    data.editName = true
                    data.editPhone =true
                  }

                //this.validationMessage = ''; // Clear validation message when toggling edit mode
                },
                isEdit(){

                   data = this.customer[0]
                   if (!data){
                    return true
                   }
                   
                   editName = data.editName
                   editPhone = data.editPhone
                   if( editName || editPhone ){
                    return true
                   }
                   else{
                    return false
                   }
                },
                isAdminLogin : function(){
                   
                   return localStorage.getItem("usertype") == "Administrator"
               },
               logout:function(){
                      window.localStorage.clear()
                      console.log("You don't have access to view this page")
                      window.location.href = "/login"
   
                   }

            }
        })

    </script>

{% endblock %}