{% extends 'layout/base.html' %}

{% block title %} Shop {% endblock %}

{% block content %}

    <div class="container" id="app">
       
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-12">
                <h5>Shop</h5>
                <b-table striped hover :fields="fields" stacked :items="store">
                    <template #cell(id)="data">
                        [[data.item.id]]
                    </template>
                    
                    <template #cell(companyName)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.companyName]]</span>
                      <input v-show="isEditable" v-model="data.item.companyName" type="text" />
                    </template>
    
                    <template #cell(CRNumber)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.CRNumber]]</span>
                        <input v-show="isEditable" @input="validateCRNumber" v-model="data.item.CRNumber" type="text" />
                        <b-alert v-if="crError" show variant="danger">[[crError]]</b-alert>
                    </template>
    
                    <template #cell(taxNumber)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.taxNumber]]</span>
                      <input v-show="isEditable" @keyup="checkTaxInput" v-model="data.item.taxNumber" type="text" />
                      <b-alert v-if="taxError" show variant="danger">[[taxError]]</b-alert>
                    </template>
              
                    <template #cell(shopName)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.shopName]]</span>
                      <input v-show="isEditable" v-model="data.item.shopName" type="text" />
                    </template>
              
                    <template #cell(district)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.district]]</span>
                      <input v-show="isEditable" v-model="data.item.district" type="text" />
                    </template>
              
                    <template #cell(unitNumber)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.unitNumber]]</span>
                      <input v-show="isEditable" v-model="data.item.unitNumber" type="text" />
                    </template>

                    <template #cell(city)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.city]]</span>
                        <input v-show="isEditable" v-model="data.item.city" type="text" />
                    </template>
    
                    <template #cell(street)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.street]]</span>
                        <input v-show="isEditable" v-model="data.item.street" type="text" />
                    </template>
    
                    <template #cell(zipCode)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.zipCode]]</span>
                        <input v-show="isEditable" v-model="data.item.zipCode" type="text" />
                    </template>
    
    
                    <template #cell(phoneNumber)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.phoneNumber]]</span>
                        <input v-show="isEditable" v-model="data.item.phoneNumber" type="text" />
                    </template>
    
                    <template #cell(email)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.email]]</span>
                        <input v-show="isEditable" v-model="data.item.email" type="text" />
                    </template>
    
                    <template #cell(website)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.website]]</span>
                        <input v-show="isEditable" v-model="data.item.website" type="text" />
                    </template>
                    
                    <template #cell(show)="data">
                        <b-link href="/item/9103"><i class="fas fa-chevron-right"></i></span></b-link>
                    </template>
        
                </b-table>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <b-button variant="outline-primary" href="/stores">Back</b-button>
                <b-button @click="toggleEditMode" variant="primary">[[ isEditable ? 'Cancel' : 'Edit' ]]</b-button>
                <b-button  @click="SaveChanges" v-if="isEditable" type="submit" variant="success" :disabled="validTaxNumber === false || validCRNumber === false " >Save Changes</b-button>
            
            </div>
        </div>

    </div>
        

    <script type="application/javascript">

        new Vue({
            delimiters : ['[[',']]'],
            el: "#app",
            data: {
                fields: [ 
                  'id',
                  'companyName', 
                  'CRNumber',
                  'taxNumber',
                  'shopName',
                  'district',
                  'unitNumber',
                  'city', 
                  'street',
                  'zipCode',
                  'phoneNumber',
                  'logo',
                  'email',
                  'website'
                ],
                taxError: '',
                crError: '',
                CRNumber: '',
                store: [],
                validTaxNumber: true,
                validCRNumber: true,
                shopCode : window.location.pathname.split("/")[2],
                store_id : localStorage.getItem("storeId"),
                filter: null,
                filterOn: [],
                currentPage: 1,
                totalRows: 1,
                perPage: 10,
                isEditable: false
            },
            mounted: async function(){
                
                if(this.isSuperUser() || this.isAdminLogin()){
                  this.getStore()  
                } else {
                  this.logout()
                }                    
            },
            methods: {
                async getStore(){
                  let store

                  if(this.isAdminLogin()){
                    store = this.store_id
                  } else if(this.isSuperUser()){
                    store = this.shopCode
                  }

                    // const response = await fetch("/api/stores/" + this.shopCode);
                    const response = await fetch("/api/stores/" + store);
                    const data = await response.json();
                    
                    this.store.push({ 
                      id: data["id"],
                      companyName: data["company_name"],
                      CRNumber: data["cr_number"],
                      city: data["city"],
                      street: data["street"],
                      taxNumber: data["tax_number"],
                      logo: data["logo"],
                      email: data["email"],
                      website: data["website"],
                      shopName: data["shop_name"],
                      phoneNumber: data["phone_number"],
                      district: data["district"],
                      zipCode: data["zip_code"],
                      unitNumber: data["unit_number"],
                      editName: false, 
                      editUsername: false, 
                      editUserType: false, 
                      show: 'test',
                    })
                },

                validateCRNumber : function(){
                  CRNumber = this.store[0].CRNumber
                  if (!isNaN(CRNumber)){
                    this.crError = ''
                    this.validCRNumber = true;
                  } else {
                    this.validCRNumber = false
                    this.crError = 'Company Registration number should only contain numbers.'
                  }
                },

                validateTaxNumber : function(value){
                  if (typeof Number(value) === 'number' && !isNaN(value) && value.length === 15 && value[0]==='3' && value[14]==='3'){
                    this.taxError = ''
                    return true;
                  }
                  return false
                },

                checkTaxInput: function(e){
                  taxNumber = this.store[0].taxNumber
                  const inputValue = e.key;

                  if (taxNumber.length === 1){
                    if(inputValue != '3'){
                      this.store[0].taxNumber = ''
                      this.taxError = "Tax number must begin and end with 3"
                    } else {
                      this.validTaxNumber = this.validateTaxNumber(taxNumber)
                    }
                  } else if(taxNumber.length === 15){
                    if(inputValue != '3'){
                      this.store[0].taxNumber = taxNumber.slice(0, 14)
                      this.taxError = "Tax number must begin and end with 3"
                    } else {
                      this.validTaxNumber = this.validateTaxNumber(taxNumber)
                    }

                  } else if(taxNumber.length > 15){
                    this.store[0].taxNumber = taxNumber.slice(0, 15)
                    this.validTaxNumber = this.validateTaxNumber(taxNumber)
                  } else {
                    // check if input value is a number
                    if(!Number(inputValue) && inputValue != '0'){
                      if (inputValue != 'ArrowUp' && inputValue != 'ArrowDown' && inputValue != 'ArrowLeft' && inputValue != 'ArrowRight' && inputValue != 'Control' && inputValue != 'Alt' && inputValue != 'Backspace'  && inputValue != 'CapsLock'  && inputValue != 'Shift' ){
                        this.store[0].taxNumber = taxNumber.slice(0, -1)
                        this.taxError = "Tax number cannot be a letter"
                      }
                    }
                  }
                },

                isAdminLogin : function(){
                    return localStorage.getItem("usertype") == "Administrator"
                },
                
                isSuperUser : function(){
                  return localStorage.getItem("usertype") == "SuperUser"
                },

                logout:function(){
                  window.localStorage.clear()
                  console.log("You don't have access to view this page")
                  window.location.href = "/login"
                },

                async toggleEditMode(){
                    this.isEditable = !this.isEditable
                    if(!this.isEditable){
                        this.Cancel()
                    }

                }, 

                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                async SaveChanges(){
            
                    data = this.store[0]
                    id = data.id

                    const newData = {
                      company_name: data.companyName, 
                      cr_number: data.CRNumber, 
                      city: data.city, 
                      street: data.street,
                      zip_code: data.zipCode,
                      tax_number: data.taxNumber,
                      phone_number: data.phoneNumber,
                      email: data.email,
                      website: data.website,
                      shop_name: data.shopName,
                      unit_number: data.unitNumber,
                      district: data.district,
                    }
                    
                  const response = await fetch(`/api/stores/${id}/update`, {
                      method: "PUT",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(newData),
                    });

                  const result = await response.json();
                  
                  if (this.isAdminLogin()){
                    window.localStorage.setItem("shopName", result['shop_name'])
                    window.localStorage.setItem("taxNumber", result['tax_number'])
                    window.localStorage.setItem("shopCity", result['city'])
                    window.localStorage.setItem("shopStreet", result['street'])
                    window.localStorage.setItem("shopEmail", result['email'])
                    window.localStorage.setItem("shopZipCode", result['zip_code'])
                    window.localStorage.setItem("shopPhoneNumber", result['phone_number'])
                  }

                  window.location.reload()
                },
                async Cancel(){
                    if(this.isSuperUser() || this.isAdminLogin()){
                      window.location.reload()
                    } else {
                      this.logout()
                    }
                    // this.getStore()
                },

            }
        })

    </script>

{% endblock %}s