{% extends 'layout/base.html' %}

{% block title %} User {% endblock %}

{% block content %}

    <div class="container" id="app">
       
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-12">
                <h5>User</h5>
                <b-table striped hover :fields="fields" stacked :items="items">
                    <template #cell(id)="data">
                        [[data.item.id]]
                    </template>
              
                    <template #cell(name)="data">
                     
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.name]]</span>
                      <input v-show="isEditable" v-model="data.item.name" type="text" />
                      
                    </template>
    
                    <template #cell(username)="data">
                       
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.username]]</span>
                        <input v-show="isEditable" v-model="data.item.username" type="text" />
                        
                    </template>
              
                    <template #cell(store)="data">
                        <span @click="toggleEditMode" v-show="!isEditable"> [[ data.item.store ]]</span>
                        
                        <b-select  v-model="data.item.store_id"  class="b-form-select" v-show="isEditable">
                            <option v-for="store in storeOptions" :key="store.id" :value="store.id">[[store.shopName]]</option>
                        </b-select>
            
                    </template>
    
                    
                    <template #cell(show)="data">
                        <b-link href="/item/9103"><i class="fas fa-chevron-right"></i></span></b-link>
                    </template>
        
                </b-table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <b-button  variant="outline-primary" href="/admin-users">Back</b-button>
                <b-button @click="toggleEditMode" variant="primary">[[ isEditable ? 'Cancel' : 'Edit' ]]</b-button>
                <b-button  @click="SaveChanges" v-if="isEditable" type="submit" variant="success">Save Changes</b-button>
            
            </div>
        </div>

        </div>
     
        
    </div>

    <script type="application/javascript">

        new Vue({
            delimiters : ['[[',']]'],
            el: "#app",
            data: {
                fields: [ 'id', 'name', 'username', 'store', 'store_id'],
                items: [],
                usercode : window.location.pathname.split("/")[2],
                filter: null,
                filterOn: [],
                storeOptions: [],
                currentPage: 1,
                totalRows: 1,
                perPage: 10,
                isEditable: false,
            },
            mounted: async function(){
                if(!this.isSuperUser()){
                    this.logout()
                }
                this.getUser()


                const response = await fetch("/api/stores");
                const data = await response.json();
                
                let stores = data["stores"]

                stores.forEach(store => {
                  this.storeOptions.push({
                    id: store['id'],
                    shopName: store['shop_name'],
                  })
                }) 
              
            },
            methods: {
                async getU(){
                   
                },

                async getUser(){
                    //console.log("window.location::",this.idcode)
                    const response = await fetch("/api/user/" + this.usercode);
                    const data = await response.json();

                    let id = data["id"]
                    let name = data["name"]
                    let username = data["username"]
                    let usertype = data["usertype"]
                    let store_id = data["store_id"]
                    let store = data["shop_name"]
                    
                    this.items.push({ 
                      id: id, 
                      name: name, 
                      username: username, 
                      usertype: usertype, 
                      store_id: store_id, 
                      store: store, 
                      editName: false, 
                      editUsername: false, 
                      editUserType: false, 
                      editStore: false, 
                      show: 'test',
                    })
                },

                isSuperUser : function(){
                  return localStorage.getItem("usertype") == "SuperUser"
                },

                logout:function(){
                      window.localStorage.clear()
                      console.log("You don't have access to view this page")
                      window.location.href = "/login"
   
                },

                async toggleEditMode(){
                    this.isEditable = !this.isEditable
                    if(!this.isEditable){
                        this.Cancel()
                    }

                }, 

                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                async SaveChanges(){
            
                    data = this.items[0]
                    id = data.id
                    name = data.name
                    username = data.username
                    usertype = data.usertype
                    store_id = data.store_id

                    const newData = {
                      name: data.name,
                      username: data.username,
                      store_id: data.store_id,
                      usertype: data.usertype
                    }
                    
                  const response = await fetch(`/api/user/${id}/update`, {
                      method: "PUT",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(newData),
                    });

                  const result = await response.json();
                  console.log(result);
                  window.location.reload()

                    // let response = await fetch("/api/update_user/"+id+"/"+name+"/"+username+"/"+usertype)
                    // this.usercode = username
                    // this.toggleEditMode()

                },
                async Cancel(){
                    console.log("cancell")
                    if(!this.isSuperUser()){
                         this.logout()
                    }
                    this.getUser()
                },

            }
        })

    </script>



{% endblock %}s