{% extends 'layout/base.html' %}

{% block title %} Shop {% endblock %}

{% block content %}

    <div class="container" id="app">

      <div v-if="store_id">
       
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-12">
                <h5>Shop</h5>
                <b-table striped hover :fields="fields" stacked :items="store">
                    <template #cell(id)="data">
                        [[data.item.id]]
                    </template>
                    
                    <template #cell(companyName)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.companyName]]</span>
                      <input v-show="isEditable" v-model="data.item.companyName" type="text" />
                    </template>
    
                    <template #cell(CRNumber)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.CRNumber]]</span>
                        <input v-show="isEditable" v-model="data.item.CRNumber" type="text" />
                    </template>
    
                    <template #cell(taxNumber)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.taxNumber]]</span>
                      <input v-show="isEditable" @keydown="validateTax" v-model="data.item.taxNumber" type="text" />
                    </template>
              
                    <template #cell(shopName)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.shopName]]</span>
                      <input v-show="isEditable" v-model="data.item.shopName" type="text" />
                    </template>
              
                    <template #cell(district)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.district]]</span>
                      <input v-show="isEditable" v-model="data.item.district" type="text" />
                    </template>
              
                    <template #cell(unitNumber)="data">
                      <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.unitNumber]]</span>
                      <input v-show="isEditable" v-model="data.item.unitNumber" type="text" />
                    </template>

                    <template #cell(city)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.city]]</span>
                        <input v-show="isEditable" v-model="data.item.city" type="text" />
                    </template>
    
                    <template #cell(street)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.street]]</span>
                        <input v-show="isEditable" v-model="data.item.street" type="text" />
                    </template>
    
                    <template #cell(zipCode)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.zipCode]]</span>
                        <input v-show="isEditable" v-model="data.item.zipCode" type="text" />
                    </template>
    
    
                    <template #cell(phoneNumber)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.phoneNumber]]</span>
                        <input v-show="isEditable" v-model="data.item.phoneNumber" type="text" />
                    </template>
    
                    <template #cell(email)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.email]]</span>
                        <input v-show="isEditable" v-model="data.item.email" type="text" />
                    </template>
    
                    <template #cell(website)="data">
                        <span @click="toggleEditMode" v-show="!isEditable">[[ data.item.website]]</span>
                        <input v-show="isEditable" v-model="data.item.website" type="text" />
                    </template>
                    
                    <template #cell(show)="data">
                        <b-link href="/item/9103"><i class="fas fa-chevron-right"></i></span></b-link>
                    </template>
        
                </b-table>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-12">
                <b-button  variant="outline-primary" href="/">Back</b-button>
                <b-button @click="toggleEditMode" variant="primary">[[ isEditable ? 'Cancel' : 'Edit' ]]</b-button>
                <b-button  @click="SaveChanges" v-if="isEditable" type="submit" variant="success">Save Changes</b-button>
            
            </div>
        </div>
      </div>

      <div v-if="!store_id" class="mt-3">
        <h4>You haven't registered a store yet </h4>
        <a href="/store/new-store" class="btn btn-primary">New Store</a>
      </div>

    </div>
        

    <script type="application/javascript">

        new Vue({
            delimiters : ['[[',']]'],
            el: "#app",
            data: {
                fields: [ 'id',
                  'companyName', 
                  'CRNumber',
                  'taxNumber',
                  'shopName',
                  'district',
                  'unitNumber',
                  'city', 
                  'street',
                  'zipCode',
                  'phoneNumber',
                  'logo',
                  'email',
                  'website'
                ],
                store: [],
                validTaxNumber: '',
                shopCode : window.location.pathname.split("/")[2],
                store_id : localStorage.getItem("storeId"),
                filter: null,
                filterOn: [],
                currentPage: 1,
                totalRows: 1,
                perPage: 10,
                isEditable: false
            },
            mounted: async function(){
                if(!this.isAdminLogin()){
                    this.logout()
                }               
                this.getStore()              
            },
            methods: {
                async getStore(){
                    const response = await fetch("/api/stores/" + this.store_id);
                    const data = await response.json();
                    
                    this.store.push({ 
                      id: data["id"],
                      companyName: data["company_name"],
                      CRNumber: data["cr_number"],
                      city: data["city"],
                      street: data["street"],
                      taxNumber: data["tax_number"],
                      logo: data["logo"],
                      email: data["email"],
                      website: data["website"],
                      shopName: data["shop_name"],
                      phoneNumber: data["phone_number"],
                      district: data["district"],
                      zipCode: data["zip_code"],
                      unitNumber: data["unit_number"],
                      editName: false, 
                      editUsername: false, 
                      editUserType: false, 
                      show: 'test',
                    })
                },

                validateTax: function(e){

                  const inputValue = e.key;
                  console.log("Input Value:", inputValue);
                },

                isAdminLogin : function(){
                  return localStorage.getItem("usertype") == "Administrator"
                },

                logout:function(){
                  window.localStorage.clear()
                  console.log("You don't have access to view this page")
                  window.location.href = "/login"
                },

                async toggleEditMode(){
                    this.isEditable = !this.isEditable
                    if(!this.isEditable){
                        this.Cancel()
                    }

                }, 

                onFiltered(filteredItems) {
                    // Trigger pagination to update the number of buttons/pages due to filtering
                    this.totalRows = filteredItems.length
                    this.currentPage = 1
                },
                async SaveChanges(){
            
                    data = this.store[0]
                    id = data.id

                    const newData = {
                      company_name: companyName, 
                      cr_number: CRNumber, 
                      city: city, 
                      street: street,
                      zip_code: zipCode,
                      tax_number: taxNumber,
                      phone_number: phoneNumber,
                      email: email,
                      website: website,
                      shop_name: data.shopName,
                      unit_number: data.unitNumber,
                      district: data.district,
                    }
                    
                  const response = await fetch(`/api/stores/${id}/update`, {
                      method: "PUT",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(newData),
                    });

                  const result = await response.json();
                  console.log(result);
                  window.location.reload()
                },
                async Cancel(){
                    console.log("cancell")
                    if(!this.isAdminLogin()){
                         this.logout()
                    }
                    this.getStore()
                },

            }
        })

    </script>

{% endblock %}s