{% extends 'layout/base.html' %}

{% block title %} Home {% endblock %}

{% block content %}
   
<div class="container">
        <div class="row" style="margin-top:3em;">
          <div class="card col-md-4" style="max-width: 340px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fas fa-shopping-cart fa-3x"></i>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{ invoices_count }}</h2>
                  <p class="card-text">Total Sales</p>
                </div>
              </div>
            </div>
          </div>

          <div class="card col-md-4" style="max-width: 340px;margin-left: 1em;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fas fa-cart-arrow-down fa-3x"></i>  
               
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{ transaction_count }}</h2>
                  <p class="card-text">Total Transactions</p>
                </div>
              </div>
            </div>
          </div>


          <div class="card col-md-4" style="max-width: 340px;margin-left: 1em;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fas fa-plus-circle fa-3x"></i> 
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{ items_count }}</h2>
                  <p class="card-text">Total Items</p>
                </div>
              </div>
            </div>
          </div>
          
          <div class="card col-md-4" style="max-width: 340px;">
            <div class="row g-0">
              <div class="col-md-4">
                <i class="fa fa-shopping-bag fa-3x" aria-hidden="true"></i>

              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h2 class="card-title">{{ orders_count }}</h2>
                  <p class="card-text">Total Orders</p>
                </div>
              </div>
            </div>
          </div>
          
            <div class="card col-md-4" style="max-width: 340px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <i class="fa fa-truck fa-3x" aria-hidden="true"></i>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h2 class="card-title">{{ deliveries_count }}</h2>
                    <p class="card-text">Total Deliveries</p>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <div id="admin">
            <div class="row" style="margin-top: 2em;" v-show="isAdminLogin()">
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/new_item" class="btn btn-outline-success">New Item</a>
                </div>
              </div>
    
              <div class="col-md-6" v-show="isAdminLogin()">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/items" class="btn btn-outline-success">Items</a>
                </div>
              </div>
              
            </div>

            <div class="row" style="margin-top: 2em;" >
    
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/cart" class="btn btn-outline-success">New Invoice</a>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                 
                  <a href="/invoices" class="btn btn-outline-success">Invoices</a>
                </div>
              </div>
              
            </div>
    
            <div class="row" style="margin-top: 2em;">
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/new-order" class="btn btn-outline-success">New Order</a>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/orders" class="btn btn-outline-success">Orders</a>
                </div>
              </div>
              
            </div>
            
    
            <div class="row" style="margin-top: 2em;">
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/transactions" class="btn btn-outline-success">Transactions</a>
                </div>
              </div>
              
              <div class="col-md-6">
                <div class="d-grid gap-2 col-12 mx-auto">
                  <a href="/deliveries" class="btn btn-outline-success">Deliveries</a>
                </div>
              </div>
              
            </div>
  
        </div>
    </container>

    <script type="application/javascript">

      new Vue({
          delimiters : ['[[',']]'],
          el: "#admin",
          data: {th:''
          },
          mounted: async function(){

            if(localStorage.getItem("usertype")=='SuperUser'){
                window.location.href = "/super"
            }
            console.log('store id: ', localStorage.getItem("storeId"));
             
          },
          methods: {
            
            isAdminLogin : function(){
              console.log("You don't have access to view this page")
              return localStorage.getItem("usertype") == "Administrator"
            },
            logout:function(){
              window.localStorage.clear()
              console.log("You don't have access to view this page")
              window.location.href = "/login"
 
            },
          }
      })

  </script>

{% endblock %}