{% extends 'layout/base.html' %}

{% block title %} Invoice {% endblock %}

{% block content %}

<div class="container" id="app">

  <div class="row mt-2">
    <div class="col-md-8">
      <b-table striped hover :fields="fields" :items="invoice">
          
      </b-table>

      <b-table striped hover :fields="itemsFields" :items="invoiceItems">
          
      </b-table>

    </div>
          
    <div class=" col-md-4">
      <div dir="rtl" lang="ar" class="border shadow px-2" id="invoicediv" ref="invoice">
        <header>
          <div id="logo" class="media">
            <img src="logo.png" style="width: 150px;align-content: center;"> <!--Insert Generated QR code image for each Invoice  -->
          </div>
  
          <p align="center">SBISTechs Inc</p>
          <p align="center">
            TAX Number : 4910487129047124<br/>
            JohnDoe@gmail.com, street city, state 0000, 555-555-5555.
          </p></br>
  
        </header>
  
        <table class="bill-details">
          <tbody align="center">
              <tr>
                <td>
                  Date: <span>[[ cdateTime ]]</span>
                </td>
                <td>
                  Invoice ID: <span>[[ inv.invoiceId ]]</span>
                </td>
              </tr>
  
              <tr>
              </tr>
  
              <tr>
                <th class="center-align" colspan="2">
                  <span class="receipt">Order Number: 3 </span>
                </th>
              </tr>
          </tbody>
        </table>
        <!--Invoice Body  -->
        <table class="items">
          <thead>
            <tr>
              <th class="heading name">Item  الصنف</th>
              <th class="heading Itemprice">Price  السعر</th>
              <th class="heading qty">Qty  الكمية</th>
              <th class="heading ItemTotal">Sub  اجمالي</th>                
            </tr>
          </thead>
          
          <tbody>          
            <tr v-for="it in invoiceItems">
              <td class="name">[[it.item]]</td>
              <td class="price Itemprice">[[it.price]]</td>
              <td class="qty">[[ it.quantity ]]</td>
              <td class="price ItemTotal">[[ it.price * it.quantity ]]</td>
            </tr>
  
            <tr>
              <td colspan="3" class="sum-up line">Total Before Tax الاجمالي قبل الضريبة</td>
              <td class="line price" align="left">[[ wTaxTotal ]]</td>
            </tr>
  
            <tr>
              <td colspan="3" class="sum-up">TAX الضريبة</td>
              <td class="price" align="left">[[ tax ]]</td>
            </tr>
  
            <tr>
            </tr>
  
            <tr>
              <th colspan="3" class="total text">Grand Total الاجمالي</th>
              <th class="total price" align="left">[[ taxTotal ]]</th>
            </tr>
  
            <tr>
              <td colspan="3" class="sum-up">Paid المدفوع</td>
              <td class="price" align="left">[[ inv.paidAmount ]]</td>
            </tr>
  
            <tr>
              <td colspan="3" class="sum-up">Reamining الباقي</td>
              <td class="price" align="left">[[ remainingAmount ]]</td>
            </tr>
          </tbody>
        </table>
  
        <section style="width: 360px;align-content: center;" align='center'>
            <p>
              Payment Method: <span>[[ inv.paymentMethod ]]</span>
            </p>
  
            <p>
              Cashier ID: <span>[[ inv.cashier ]]</span>
            </p>
            
            <img align="center" :src="inv.qrCode" alt="QRCode" style="width: 200px; align-content: center;"> <!--Insert Generated QR code image for each Invoice  -->
            <p align="center">
              Thank you for your visit!
            </p>
  
            <p align="center">
              <a href="/"> www.www.com </a>
            </p>

        </section>
          
      </div>

      <button class="btn btn-primary w-100 my-3" @click="printInvoice()">Print Invoice</button>

    </div>

  </div>

</div>

</div>

<script type="application/javascript">
    new Vue({
        delimiters : ['[[',']]'],
        el: '#app',
        data: {
          fields: [ 
            {key: 'id', label:'Invoice Id'}, 
            {key: 'invDate', label:'Invoice DateTime'},  
            {key: 'total', label:'Total Price'},
            {key: 'tax', label:'Tax'},
            {key: 'paymentId', label:'Payment Id'},
            {key: 'customerPNO', label:'Customer PNO'},
            {key: 'cashier', label:'Cashier'},
            {key: 'paymentMethod', label:'Payment Method'},
          ],
          invoice: [],
          itemsFields: [
            {key: "item", label: "Invoice Item"},
            {key: "price", label: "Price"},
            {key: "quantity", label:"Quantity"},
            {key: "subtotal", label:"Sub Total"}
          ],
          invoiceItems: [],
          invId:  window.location.pathname.split("/")[2],
          
          wTaxTotal: 0,
          taxTotal: 0,
          tax: 0,
          inv: {
            invoiceId: '',
            cashier: '',
            customerPNO: '',
            paymentId: '-1',
            paymentMethod: '',
            paidAmount: '',
            qrCode: '',
            store: ''
          },
          remainingAmount:0,
          cdateTime: '',

        },
        mounted: async function(){
       
            const response = await fetch("/api/invoices/" + this.invId );
            const invoice = await response.json();

            console.log(invoice);
            const invoiceItems = invoice['transactions']

            invoiceItems.forEach(item => {
              this.invoiceItems.push({
                item: item['item'],
                price: item['item_price'],
                quantity: item['quantity_sold'],
                subtotal: item['subtotal']
              })
            })
           
            let id = invoice['id']
            let total = invoice['total_price']
            let tax = invoice['tax']
            let dateTime = invoice['created_at']
            this.cdateTime = dateTime

            let paymentId = invoice['payment_id']
            let customerPNO = invoice['customer_PNO']
            let cashier = invoice['cashier_id']
            let paymentMethod = invoice['payment_method']
            let paidAmount = invoice['amount_paid']
            let qrCode = invoice['qrcode_url'].slice(6)

            this.inv.invoiceId = id
            this.inv.cashier = cashier
            this.wTaxTotal = parseFloat(total).toFixed(2)
            this.tax = parseFloat(tax).toFixed(2)
            this.taxTotal = (parseFloat(this.wTaxTotal) + (parseFloat(this.tax))).toFixed(2)
            this.inv.paymentMethod = paymentMethod
            this.inv.qrCode = qrCode
            this.inv.paidAmount = parseFloat(paidAmount)
            this.remainingAmount = parseFloat(this.inv.paidAmount) - parseFloat(this.taxTotal)
            this.remainingAmount = (Math.round((this.remainingAmount+Number.EPSILON)*100)/100)

            this.invoice.push({ 
              id: id, 
              invDate: dateTime, 
              total: total, 
              tax: tax,
              paymentId: paymentId,
              customerPNO: customerPNO,
              cashier: cashier,
              paymentMethod: paymentMethod,
            })
        },
        methods: {
            printInvoice(){
                    // const { jsPDF } = window.jspdf;
                    // var doc = new jsPDF('p', 'pt', 'A4');

                    // doc.html(this.$refs.invoice, {callback: function(doc){
                    //       // Print the PDF
                    //       doc.autoPrint();

                    //       // Open print dialog
                    //       doc.output('dataurlnewwindow');

                    //       // save invoice
                    //       // doc.save(new Date().getTime() + '.pdf');
                    //     },
                    //   x: 100,
                    //   y: 10
                    // });
                    
                    const element = this.$refs.invoice;  // Reference to the invoice element

                    html2canvas(element).then(canvas => {
                      // Create an image element
                      var img = document.createElement('img');
                      img.src = canvas.toDataURL();

                      console.log("after canvas: ", canvas.toDataURL());

                      img.style.display = 'block';  // Ensure the image is visible
                      img.style.maxWidth = '100%';  // Optional: Scale the image to fit the page

                      // Create and open a new window for printing
                      var printWindow = window.open('', '_blank', 'width=800,height=600');
                      printWindow.document.open();
                      printWindow.document.write('<html><head><title>Print Invoice</title></head><body onload="window.print()">');
                      printWindow.document.write('<img src="' + img.src + '">'); // Append the image
                      printWindow.document.write('</body></html>');
                      // printWindow.document.close();
                    });

                },
                
                isAdminLogin : function(){
                   
                   return localStorage.getItem("usertype") == "Administrator"
               },
               logout:function(){
                      window.localStorage.clear()
                      console.log("You don't have access to view this page")
                      window.location.href = "/login"
   
                   }
        }
    })

</script>

{% endblock %}