{% extends 'layout/base2.html' %} 

{% block title %} Login {% endblock %}

{% block content %}

    <div class="container" id="app">
        <div class="row" style="margin-top: 2em;">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                
                {% if res == "reg_success" %}
                    <div class="alert alert-success" role="alert">
                        Account Created Succesfully. Login to continue!
                    </div>
                {% endif %}

                <div class="alert alert-danger" v-if="error == true" role="alert">
                    Invalid login details
                </div>
                

                <div class="mb-3">
                    <label for="username" class="form-label">User Name</label>
                    <input type="text" class="form-control" name='username' v-model="username" id="username" placeholder="Enter username">
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name='password' v-model="password" id="password" placeholder="Enter password">
                </div>

                <div class="mb-3">
                    <button @click="login" class="btn btn-primary">Login</button>
                </div>

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <script type="application/javascript">

        new Vue({
            delimiters : ['[[',']]'],
            el: '#app',
            data: {
                username: '',
                password: '',
                error: false
            },
            methods:{
                async login(){

                  const credentials = {
                    username: this.username,
                    password: this.password
                  }
                  try {
                    const response = await fetch("/login", {
                      method: "POST",
                      headers: {
                        "Content-Type": "application/json",
                      },
                      body: JSON.stringify(credentials),
                    });

                    const result = await response.json();

                    console.log(result);
                    
                    if(result["res"] == "success"){
                      let cashierId = result['id']
                      let name = result['name']
                      let username = result['username']
                      let usertype = result['usertype']
                      let storeId = result['store_id']

                      //alert("Login: "+cashierId+ name+ username);
                      window.localStorage.setItem("cashierId", cashierId)
                      window.localStorage.setItem("name", name)
                      window.localStorage.setItem("username", username)
                      window.localStorage.setItem("usertype", usertype)
                      window.localStorage.setItem("storeId", storeId)
                      window.localStorage.setItem("shopName", result['shop_name'])
                      window.localStorage.setItem("taxNumber", result['tax_number'])
                      window.localStorage.setItem("shopCity", result['shop_city'])
                      window.localStorage.setItem("shopStreet", result['shop_street'])
                      window.localStorage.setItem("shopEmail", result['shop_email'])
                      window.localStorage.setItem("shopZipCode", result['shop_zip_code'])
                      window.localStorage.setItem("shopPhoneNumber", result['shop_phone_number'])
                      
                      if(usertype=='SuperUser'){
                          window.location.href = "/super"
                      }

                      window.location.href = "/"
                      
                      auth_token = result["auth_token"]
                      
                      this.setCookie('auth_token', auth_token, 86000)
                      this.setCookie('user_type', usertype, 86000)
                      this.setCookie('user_name', username, 86000)
                      this.setCookie('user_id', cashierId, 86000)
                      this.setCookie('store_id', storeId, 86000)

                    }else{
                      this.error = true
                    }

                  } catch (error) {
                    console.error("Error:", error);
                  }

                },

                setCookie(name, value, seconds) {
                  const expires = new Date();
                  expires.setTime(expires.getTime() + seconds * 1000);
                  document.cookie = `${name}=${value};expires=${expires.toUTCString()};path=/`;
                },
            }
        })

    </script>


{% endblock %}