{% extends 'layout/base.html' %}

{% block title %} New Store {% endblock %}

{% block content %}

    <div class="container">
        
        <div class="row" style="margin-top: 2em;" id="app">
            
            <div class="col-md-2"></div>
            <div class="col-md-8">
                
                {% if res == "success" %}
                    <div class="alert alert-success" role="alert">
                        Store Created
                    </div>
                {% endif %}
                {% if res == "error" %}
                    <div class="alert alert-danger" role="alert">
                        Error Creating Store
                    </div>
                {% endif %}
                <!-- <form enctype="multipart/form-data" method="post" action="/company/new-company">     -->
                    <div class="mb-3">
                        <label for="companyName" class="form-label">Company Name</label>
                        <input type="text" class="form-control" v-model="companyName" name='companyName' id="companyName" placeholder="Enter Item Company Name">
                    </div>

                    <div class="mb-3">
                        <label for="crNumber" class="form-label">Company Registration Number</label>
                        <input type="text" class="form-control" v-model="crNumber" id="crNumber" name="crNumber" placeholder="Enter Company Registration Number">
                    </div>

                    <div class="mb-3">
                        <label for="taxNumber" class="form-label">Company Tax Number</label>
                        <input type="text" @keyup="checkTaxInput" class="form-control" v-model="taxNumber" id="taxNumber" name="taxNumber" placeholder="Enter Company Tax Number">
                        <b-alert v-if="taxError" show variant="danger">[[taxError]]</b-alert>
                    </div>

                    <div class="mb-3">
                        <label for="shopName" class="form-label">Shop Name</label>
                        <input type="text" class="form-control" v-model="shopName" id="shopName" name="shopName" placeholder="Enter The Shop Name">
                    </div>

                    <div class="mb-3">
                        <label for="shopUnitNumber" class="form-label">Shop Unit Number</label>
                        <input type="text" class="form-control" v-model="shopUnitNumber" id="shopUnitNumber" name="shopUnitNumber" placeholder="Enter The Shop Unit Number">
                    </div>

                    <div class="mb-3">
                        <label for="shopDistrict" class="form-label">Shop District</label>
                        <input type="text" class="form-control" v-model="shopDistrict" id="shopDistrict" name="shopDistrict" placeholder="Enter Shop District">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" v-model="city" id="city" name="city" placeholder="Enter City Name">
                    </div>

                    <div class="mb-3">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" class="form-control" v-model="street" id="street" name="street" placeholder="Enter Street Name">
                    </div>

                    <div class="mb-3">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" v-model="zipCode" id="zipCode" name="zipCode" placeholder="Enter Zip Code">
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Store Phone Number</label>
                        <input type="text" class="form-control" v-model="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="Enter Company Phone Number">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Store Email</label>
                        <input type="email" class="form-control" v-model="email" id="email" name="email" placeholder="Enter Company Email">
                    </div>

                    <div class="mb-3">
                        <label for="website" class="form-label">Store Website</label>
                        <input type="text" class="form-control" v-model="website" id="website" name="website" placeholder="Enter Company Website">
                    </div>
    
                    <div class="d-grid gap-2">
                      <button class="btn btn-success" @click="registerCompany()" type="button" :disabled="validTaxNumber === false" >Register New Store</button>
                    </div>

                  </div>

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <script>
        new Vue({
          delimiters : ['[[',']]'],
          el: "#app",
          data: {
            companyName: '',
            crNumber: '',
            taxNumber: '',
            taxError: '',
            validTaxNumber: false,
            tempValid: '',
            city: '',
            street: '',
            zipCode: '',
            phoneNumber: '',
            email: '',
            website: '',
            shopName: '',
            shopDistrict: '',
            shopUnitNumber: '',
          },
          mounted: async function(){
            if(!this.isAdminLogin()){
              this.logout();
            }
            
          },
          methods: {
            validateTaxNumber : function(value){
              if (typeof Number(value) === 'number' && !isNaN(value) && value.length === 15 && value[0]==='3' && value[14]==='3'){
                this.taxError = ''
                return true;
              }
              return false
            },

            checkTaxInput: function(e){
              const inputValue = e.key;

              if (this.taxNumber.length === 1){
                if(inputValue != '3'){
                  this.taxNumber = ''
                  this.taxError = "Tax number must begin and end with 3"
                } else {
                  this.validTaxNumber = this.validateTaxNumber(this.taxNumber)
                }
              } else if(this.taxNumber.length === 15){
                if(inputValue != '3'){
                this.taxNumber = this.taxNumber.slice(0, 14)
                  this.taxError = "Tax number must begin and end with 3"
                } else {
                  this.validTaxNumber = this.validateTaxNumber(this.taxNumber)
                }

              } else if(this.taxNumber.length > 15){
                this.taxNumber = this.taxNumber.slice(0, 15)
                this.validTaxNumber = this.validateTaxNumber(this.taxNumber)
              } else {
                // check if input value is a number
                if(!Number(inputValue)){
                  if (inputValue != 'ArrowUp' && inputValue != 'ArrowDown' && inputValue != 'ArrowLeft' && inputValue != 'ArrowRight' && inputValue != 'Control' && inputValue != 'Alt' && inputValue != 'Backspace'  && inputValue != 'CapsLock'  && inputValue != 'Shift' ){
                    this.taxNumber = this.taxNumber.slice(0, -1)
                    this.taxError = "Tax number cannot be a letter"
                  }
                }
              }
            },

            registerCompany: async function(){

              if (this.shopName == ''){
                this.shopName = this.companyName
              }

              let newStore = {
                'company_name': this.companyName,
                'cr_number': this.crNumber,
                'tax_number': this.taxNumber,
                'city': this.city,
                'street': this.street,
                'zip_code': this.zipCode,
                'phone_number': this.phoneNumber,
                'email': this.email,
                'website': this.website,
                'shop_name': this.shopName,
                'unit_number': this.shopUnitNumber,
                'district': this.shopDistrict,
                'user': localStorage.getItem("cashierId"),
              }
              
              const response = await fetch("/api/store", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(newStore),
              });

              const result = await response.json();

              if(result['res']=='success'){
                localStorage.setItem('storeId', result['id'])
                window.location.href = "/stores/" + result['id']
                this.setCookie('store_id', result['id'], 86000)
              }
              
            },

            isAdminLogin : function(){
              return localStorage.getItem("usertype") == "Administrator"
            },

            logout:function(){
              window.localStorage.clear()
              console.log("You don't have access to view this page")
              window.location.href = "/login"
            }
          }
        })
    </script>
    

{% endblock %}