{% extends 'layout/base.html' %}

{% block title %} New Item {% endblock %}

{% block content %}

    <div class="container">
        
        <div class="row" style="margin-top: 2em;" id="app">
            

            <div class="col-md-2"></div>

            <div v-if="!store_id" class="mt-3">
              <h4>You haven't registered a store yet </h4>
              <a href="/store/new-store" class="btn btn-primary">New Store</a>
            </div>

            <div class="col-md-8" v-if="store_id">
                
                {% if res == "success" %}
                    <div class="alert alert-success" role="alert">
                        New Item Created
                    </div>
                {% endif %}
                {% if res == "error" %}
                    <div class="alert alert-danger" role="alert">
                        Error Creating Item(s)
                    </div>
                {% endif %}

                <form method="post" action="/new_item">

                    <div class="mb-3">
                        <label for="id" class="form-label">Item ID</label>
                        <input type="text" class="form-control" name='id' id="id" placeholder="Enter Item ID">
                    </div>
    
                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" class="form-control" name='name' id="name" v-model="itemName" placeholder="Enter Item name" lang="ar">
                    </div>
    
                    <div class="mb-3">
         
                      <label for="itemCategory">Category:</label>
                      <select v-model="category" name="category" class="form-select" @change="categoryChanged">
                          <option v-for="category in categoryOptions" :key="category" :value="category.id">[[category.name]]</option>                                
                      </select>
                      <!-- Additional input for custom category -->
                      <input v-if="category === 'New Category'" type="text" name='newcategory' class="form-control mt-2" v-model="customCategory" placeholder="Enter New Category">
                    </div>
                    <div class="mb-3">
                        <label for="price" class="form-label">Price</label>
                        <input type="text" class="form-control" id="price" name="price" placeholder="Enter Item Price">
                    </div>
            
                    <div class="mb-3">
                        <label for="quantity" class="form-label">Quantity</label>
                        <input type="number" class="form-control" id="quantity" name="quantity" placeholder="Enter Item Quantity">
                    </div>
            
                    <input type="text" class="form-control" v-model="store_id" name="store_id" hidden>
                       
                    <div class="mb-3">
                        <input type="submit" value="Add Item" class="btn btn-primary"/>
                    </div>

                </form>
                <hr/>

                <form enctype="multipart/form-data" method="POST" action="/upload_item">
                    <h5>Import From Excel/CSV/MySQL File</h5>
                    <div class="mb-3">
                        <label for="excel" class="form-label">Excel File/CSV File/MySQL File</label>
                        <input type="file" class="form-control" id="excel" name="itemsfile" placeholder="Select Excel File">
                    </div>
                    <div class="mb-3">
                        <button type="submit"  value="Import From Excel" class="btn btn-primary">Add Item</button>
                    </div>
                </form>
                <hr/>

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <script>
        new Vue({
          delimiters : ['[[',']]'],
          el: "#app",
          data: {
            itemID: '',
            itemName: '',
            itemPrice: '',
            category: null,
            store_id : localStorage.getItem("storeId"),
            customCategory: '',
            categoryOptions: []//'Coffee', 'Snacks', 'Sandwiches', 'Salads', 'Wraps', 'Soups', 'Burgers', 'New Category'],
          },
          mounted: async function(){
            if(!this.isAdminLogin()){
              this.logout();
            }
            
            this.categoryOptions.push({id: 'New Category', name: 'New Category'})
            
            const response = await fetch("/category_api");
            const data = await response.json();
            
            let categories = data["categories"]
            categories.forEach(category => {
              this.categoryOptions.push(category)
            })
          },
          methods: {
            importFromExcel(){

            },

            importFromMySQL(){

            },
            categoryChanged() {
            // Reset custom category when category changes
            this.customCategory = '';
            },
            
            async submitForm() {
              // const response = fetch("/api/categories" + this.customCategory);
              // const data =  response.json();
              // console.log(data)
              // alert("New category added!");

              // const category = {
              //   name: this.customCategory
              // }

              // try {
              //   const response = await fetch("/api/categories", {
              //     method: "POST",
              //     headers: {
              //       "Content-Type": "application/json",
              //     },
              //     body: JSON.stringify(category),
              //   });

              //   const result = await response.json();
              //   console.log(result);
                
              //   alert("New category added!");

              // } catch (error) {
              //   console.log(error);
              // }
            },

            goBack(){

            },

            isAdminLogin : function(){
              return localStorage.getItem("usertype") == "Administrator"
            },

            logout:function(){
              window.localStorage.clear()
              console.log("You don't have access to view this page")
              window.location.href = "/login"
            }
          }
        })
    </script>
    

{% endblock %}