{% extends 'layout/base.html' %}

{% block title %} New Item {% endblock %}

{% block content %}

    <div class="container">
        
        <div class="row" style="margin-top: 2em;" id="app">
            

            <div class="col-md-2"></div>
            <div class="col-md-8">
                
                {% if res == "success" %}
                    <div class="alert alert-success" role="alert">
                        Company Created
                    </div>
                {% endif %}
                {% if res == "error" %}
                    <div class="alert alert-danger" role="alert">
                        Error Creating Company
                    </div>
                {% endif %}
                <!-- <form enctype="multipart/form-data" method="post" action="/company/new-company">     -->
                    <div class="mb-3">
                        <label for="companyName" class="form-label">Company Name</label>
                        <input type="text" class="form-control" v-model="companyName" name='companyName' id="companyName" placeholder="Enter Item Company Name">
                    </div>

                    <div class="mb-3">
                        <label for="crNumber" class="form-label">Company Registration Number</label>
                        <input type="text" class="form-control" v-model="crNumber" id="crNumber" name="crNumber" placeholder="Enter Company Registration Number">
                    </div>

                    <div class="mb-3">
                        <label for="taxNumber" class="form-label">Company Tax Number</label>
                        <input type="text" class="form-control" v-model="taxNumber" id="taxNumber" name="taxNumber" placeholder="Enter Company Tax Number">
                    </div>

                    <div class="mb-3">
                        <label for="city" class="form-label">City</label>
                        <input type="text" class="form-control" v-model="city" id="city" name="city" placeholder="Enter City Name">
                    </div>

                    <div class="mb-3">
                        <label for="street" class="form-label">Street</label>
                        <input type="text" class="form-control" v-model="street" id="street" name="street" placeholder="Enter Street Name">
                    </div>

                    <div class="mb-3">
                        <label for="zipCode" class="form-label">Zip Code</label>
                        <input type="text" class="form-control" v-model="zipCode" id="zipCode" name="zipCode" placeholder="Enter Zip Code">
                    </div>

                    <div class="mb-3">
                        <label for="phoneNumber" class="form-label">Company Phone Number</label>
                        <input type="text" class="form-control" v-model="phoneNumber" id="phoneNumber" name="phoneNumber" placeholder="Enter Company Phone Number">
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Company Email</label>
                        <input type="email" class="form-control" v-model="email" id="email" name="email" placeholder="Enter Company Email">
                    </div>

                    <div class="mb-3">
                        <label for="website" class="form-label">Company Website</label>
                        <input type="text" class="form-control" v-model="website" id="website" name="website" placeholder="Enter Company Website">
                    </div>
    
                    <div class="d-grid gap-2">
                      <button class="btn btn-success" @click="registerCompany()" type="button">Register Company</button>
                    </div>

                  </div>

            </div>
            <div class="col-md-2"></div>
        </div>

    </div>

    <script>
        new Vue({
          delimiters : ['[[',']]'],
          el: "#app",
          data: {
            companyName: '',
            crNumber: '',
            taxNumber: '',
            city: '',
            street: '',
            zipCode: '',
            phoneNumber: '',
            email: '',
            website: '',
            shopName: companyName,
            shopZipCOde: zipCode,
            shopPhoneNumber: phoneNumber,
            shopDistrict: '',
            shopUnitNumber: '',
          },
          mounted: async function(){
            if(!this.isSuperUser()){
              this.logout();
            }
            
          },
          methods: {
            registerCompany: async function(){

              let newCompany = {
                'company_name': this.companyName,
                'cr_number': this.crNumber,
                'tax_number': this.taxNumber,
                'city': this.city,
                'street': this.street,
                'zip_code': this.zipCode,
                'phone_number': this.phoneNumber,
                'email': this.email,
                'website': this.website,
                'shop_name': this.shopName,
                'shop_phone_number': this.shopPhoneNumber,
                'unit_number': this.shopUnitNumber,
                'shop_zip_code': this.shopZipCOde,
                'district': this.shopDistrict,
                'user': localStorage.getItem("username"),
              }
              
              const response = await fetch("/api/company", {
                method: "POST",
                headers: {
                  "Content-Type": "application/json",
                },
                body: JSON.stringify(newCompany),
              });

              const result = await response.json();
              console.log(result);

              if(result['res']=='success'){

                localStorage.setItem('companyId', result['id'])
                window.location.href = "/company"
              }
              
            },

            isSuperUser : function(){
              return localStorage.getItem("usertype") == "Super user"
            },

            logout:function(){
              window.localStorage.clear()
              console.log("You don't have access to view this page")
              window.location.href = "/login"
            }
          }
        })
    </script>
    

{% endblock %}